.App {
  text-align: center;
}

.App-header {
  background-color: grey;
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Groups and categories */
.group {
  /* Add shadows to create the "card" effect */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  margin: auto;
}

.group:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.group-name, .group-count {
  font-size: 24px;
}